{% extends "views/report-templates/default.htm" %} {% load i18n %} {% load staticfiles %} 


{% block header %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/stylesheet/3dhop.css"/>

{% include 'views/components/three-d-hop/three-d-hop-canvas.htm' %}
{% comment %} {% include 'views/components/three-d-hop/three-d-hop-sections-panel.htm' %} {% endcomment %}

{% comment %}
<div data-bind="carousel: { content: { name: 'carouselItemTemplate', data: imgs } }"></div> {% endcomment %} {% comment %}
<template id="carouselItemTemplate">
</template> {% endcomment %} 
{% endblock header %} 


{% block header_form %}
<div class="control-label">
    {% trans "Included Image Nodes" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <select class="design" data-placeholder="{% trans " Select image nodes to include... " %}" multiple data-bind="selectedOptions: nodes, options: nodeOptions, optionsText: 'name', optionsValue: 'nodeid', chosen: {disable_search_threshold: 10, width: '100%'}"></select>
</div>
{% endblock header_form %}