{% load i18n %} {% load staticfiles %}

<!-- 3D HOP window and side buttons -->
<div id="3dhop" class="tdhop" style="width: 100% !important;" onMouseDown="if (event.preventDefault) event.preventDefault()">
    <div id="tdhlg"></div>
    <div id="toolbar">
        <img id="home" title="Home" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/home.png" /><br/>
        <img id="zoomin" title="Zoom In" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/zoomin.png"
        /><br/>
        <img id="zoomout" title="Zoom Out" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/zoomout.png"
        /><br/>
        <img id="light_on" title="Disable Light Control" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/light_on.png"
            style="position:absolute; visibility:hidden;" />
        <img id="light" title="Enable Light Control" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/light.png"
        /><br/>
        {% comment %} <img id="sections_on" title="Disable Plane Sections" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/sections_on.png"
            style="position:absolute; visibility:hidden;" />
        <img id="sections" title="Enable Plane Sections" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/sections.png"
        /><br/> {% endcomment %}
        <img id="pick_on" title="Disable PickPoint Mode" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/pick_on.png"
            style="position:absolute; visibility:hidden;" />
        <img id="pick" title="Enable PickPoint Mode" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/pick.png"
        /><br/>
        <img id="full_on" title="Exit Full Screen" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/full_on.png"
            style="position:absolute; visibility:hidden;" />
        <img id="full" title="Full Screen" src="{{ STATIC_URL }}bower_components/cvast-3dhop/3DHOP_4.1/minimal/skins/dark/full.png"
        />
    </div>
    <div id="pickpoint-box" class="output-box">XYZ picked point
        <hr/><span id="pickpoint-output" class="output-text" onMouseDown="event.stopPropagation()">[ 0 , 0 , 0 ]</span>
    </div>
    {% include 'views/components/three-d-hop/three-d-hop-sections-panel.htm' %}
    <canvas id="draw-canvas" />
</div>
<!-- End 3D HOP window and side buttons -->